<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select the Act</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>List of Legistlation:</h1>
    <h3>Click on Act for more information </h3>
    <div class="container">
        <ul class="acts-list">
            {% for act in acts %}
            <li><a href="{{ url_for('act_details', act_name=act[0]) }}">{{ act[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('login') }}" class="btn btn-dark">Logout</a>
</body>
</html>
